@model Comjustinspicer.CMS.Models.Article.ArticleViewModel

@using Comjustinspicer.CMS.Services;

@inject UserService UserService

@{
    if (Model == null)
    {
        <div class="notification is-warning">Post not found.</div>
        return;
    }

    var isAuthor = UserService.IsUserAuthor;
}

<div class="column is-full">
	<div class="card">
		<div class="card-content">
			<p class="title">
				<a href="/Article/@Model.Id">@Model.Title</a>
			</p>
			<p class="subtitle">@Model.PublicationDate?.ToString("MMMM dd, yyyy")</p>
			<hr />
			@Html.Raw(Model.Body)

			<div class="mt-4">
				@if (isAuthor)
				{
					<a asp-action="PostEdit" asp-controller="AdminArticle" asp-route-id="@Model.Id"
						class="button is-primary">Edit</a>
				}
			</div>
		</div>
	</div>
</div>
