@model Comjustinspicer.CMS.Models.Article.ArticleListViewModel
@using Comjustinspicer.CMS.Models.Article

@{
	ViewData["Title"] = "Article";
	ViewData["ArticleListSlug"] = Model.ArticleListSlug;
}

<section class="section">
	<div class="container">
		<div class="columns is-multiline">
			@foreach (var post in Model.Articles)
			{
				@await Component.InvokeAsync("Article", new ArticleContentZoneConfiguration { ViewName = "Article", Article = post })
			}
		</div>
	</div>
</section>