@using Comjustinspicer.CMS.Models.ContentZone
@model ContentZoneViewModel

@{
    ViewData["Title"] = $"Edit Zone: {Model.Name}";
}

<div class="admin-page-header">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-controller="AdminContent" asp-action="Index" asp-route-contentType="contentzones">Content Zones</a></li>
                <li class="is-active"><a href="#" aria-current="page">@Model.Name</a></li>
            </ul>
        </nav>
        <h1 class="title is-4 mt-2">@ViewData["Title"]</h1>
    </div>
</div>

<section class="section pt-4">
    <div class="container">
        @await Component.InvokeAsync("ContentZone", new { zoneId = Model.Id, editMode = true })
    </div>
</section>
