@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<section class="section">
    <div class="container">
        <h3 class="title">@ViewData["Title"]</h3>
        <partial name="_StatusMessage" for="StatusMessage" />

        <div class="columns">
            <div class="column is-half">
                <form id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="has-text-danger" role="alert"></div>

                    <div class="field">
                        <label class="label" asp-for="Username"></label>
                        <div class="control">
                            <input asp-for="Username" class="input" placeholder="Please choose your username." disabled />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" asp-for="Input.PhoneNumber"></label>
                        <div class="control">
                            <input asp-for="Input.PhoneNumber" class="input" placeholder="Please enter your phone number." />
                        </div>
                        <p class="help is-danger"><span asp-validation-for="Input.PhoneNumber"></span></p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button id="update-profile-button" type="submit" class="button is-primary is-fullwidth">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
