@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<section class="section">
    <div class="container">
        <h3 class="title">@ViewData["Title"]</h3>
        <partial name="_StatusMessage" for="StatusMessage" />

        <div class="columns">
            <div class="column is-half">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="has-text-danger" role="alert"></div>

                    <div class="field">
                        <label class="label" asp-for="Input.OldPassword"></label>
                        <div class="control">
                            <input asp-for="Input.OldPassword" class="input" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                        </div>
                        <p class="help is-danger"><span asp-validation-for="Input.OldPassword"></span></p>
                    </div>

                    <div class="field">
                        <label class="label" asp-for="Input.NewPassword"></label>
                        <div class="control">
                            <input asp-for="Input.NewPassword" class="input" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                        </div>
                        <p class="help is-danger"><span asp-validation-for="Input.NewPassword"></span></p>
                    </div>

                    <div class="field">
                        <label class="label" asp-for="Input.ConfirmPassword"></label>
                        <div class="control">
                            <input asp-for="Input.ConfirmPassword" class="input" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                        </div>
                        <p class="help is-danger"><span asp-validation-for="Input.ConfirmPassword"></span></p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary is-fullwidth">Update password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
