@{
	ViewData["Title"] = "Blog";
}
@using comjustinspicer.Models.Blog
@model comjustinspicer.Models.Blog.BlogViewModel

<ul>
@foreach(var post in Model.Posts)
{
	<li>
		<h1>@post.Title</h1>
	</li>
}
</ul>
