@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="notification is-warning">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="has-text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="field">
                <label class="label" asp-for="Input.Password"></label>
                <div class="control">
                    <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                </div>
                <p class="help is-danger"><span asp-validation-for="Input.Password"></span></p>
            </div>
        }
        <div class="field">
            <div class="control">
                <button class="button is-danger is-fullwidth" type="submit">Delete data and close my account</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
