@using Comjustinspicer.CMS.ViewComponents

@{
	ViewData["Title"] = "About";
}

<div class="column is-8 is-offset-2">
	<div class="box">
		<div class="content is-medium">
			@await Component.InvokeAsync("ContentBlock", 
				new { contentBlockID = new Guid("bffabbe5-5420-46b5-a122-fb96691d7111") })
		</div>
	</div>
</div>