@{
	ViewData["Title"] = "About";
}

<div class="column is-8 is-offset-2">
<p>
	Hi! My name is Justin Spicer. I'm a software developer from Indiana who now lives in Chicago. Computers, and thus software, have always been a big part of my life. I was part of the first generation that grew up with computers in the home and i Built my first website in the mid 90s, before google even existed, when I was about 6, with some help from one of my older brothers. It wasn't a great site, but none were in those days... It was a fan site for Dragon Ball Z, I was 6 remember, built with Dream Weaver and hosted on geocities. Technology and I have both come a long way since then.
</p>
</div>