@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section class="section">
    <div class="container">
        <h3 class="title is-4">@ViewData["Title"]</h3>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</section>
