<!DOCTYPE html>
<html lang="en">

@{
	var isAuthor = User?.Identity?.IsAuthenticated == true && (User.IsInRole("Admin") || User.IsInRole("Editor"));
}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>

	<link rel="dns-prefetch" href="https://cdn.jsdelivr.net/" />
	<link rel="dns-prefetch" href="https://images.pexels.com/" />


	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	@if (isAuthor)
	{
		<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/46.1.1/ckeditor5.css" />
	}
</head>

<body>
	<div class="section hero is-fullheight">
		<header>
			<partial name="_Navbar" />
		</header>

		<main class="container">
			@RenderBody()
		</main>

		<footer class="footer mt-auto pb-0 mb-0" style="background-color: white;">
			@await Component.InvokeAsync("ContentBlock", new { contentBlockID = new
			Guid("f1858727-4931-4505-83cb-8c4fd2aeb0e1") })
		</footer>
	</div>

	@if (isAuthor)
	{
		<script src="https://cdn.ckeditor.com/ckeditor5/46.1.1/ckeditor5.umd.js"></script>
	}

	<script src="~/js/site.js" asp-append-version="true"></script>


	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>