@using Microsoft.AspNetCore.Identity
@using Comjustinspicer.CMS.Services;

@inject UserService UserService

@{
    var isAuthor = UserService.IsUserAuthor;
}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            @await Component.InvokeAsync(name: "ContentZone", new { zoneName = "Logo" })

        </a>

        <a id="nav-toggle" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
            data-target="siteNav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="siteNav" class="navbar-menu">
        <div class="navbar-start">
            @await Component.InvokeAsync(name: "ContentZone", new { zoneName = "NavBar" })
            <a class="navbar-item" href="/">
                Home
            </a>

            @if (isAuthor)
            {
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Admin
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/admin/pages">
                            Pages
                        </a>
                        <a class="navbar-item" href="/admin/contentzones">
                            Content Zones
                        </a>
                        <a class="navbar-item" href="/admin/ContentBlocks">
                            Content Blocks
                        </a>
                        <a class="navbar-item" href="/admin/Article">
                            Article
                        </a>
                        <a class="navbar-item" href="/admin/ResendConfirmation">
                            Resend Confirmation Email
                        </a>
                    </div>
                </div>
            }
        </div>

        <div class="navbar-end">
            @await Component.InvokeAsync(name: "ContentZone", new { zoneName = "NavBar End" })
        </div>
    </div>
</nav>