@using Microsoft.AspNetCore.Identity
@using Comjustinspicer.CMS.Services;

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            @await Component.InvokeAsync(name: "ContentZone", new { zoneName = "Logo", IsGlobal = true })
        </a>

        <a id="nav-toggle" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
            data-target="siteNav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="siteNav" class="navbar-menu">
        <div class="navbar-start">
            @await Component.InvokeAsync(name: "ContentZone", new { zoneName = "NavBar", IsGlobal = true })
        </div>

        <div class="navbar-end">
            @await Component.InvokeAsync(name: "ContentZone", new { zoneName = "NavBar End", IsGlobal = true })
        </div>
    </div>
</nav>