@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 pt-5 my-5 text-center">
			<h1 class="display-4 fw-bold">Welcome</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the
					world’s most
					popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
					extensive prebuilt components, and powerful JavaScript plugins.</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
					<button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">More by me</button>
					<button type="button" class="btn btn-outline-secondary btn-lg px-4">See my Resume</button>
				</div>
			</div>
			<div class="overflow-hidden">
				<div class="container px-5">
					<img src="https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" loading="lazy">
				</div>
			</div>
		</div>

		<div class="container px-4 py-5">
			<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
				<div class="col d-flex flex-column align-items-start gap-2">
					<h3 class="fw-bold">Left-aligned title explaining these awesome features</h3>
					<p class="text-muted">Paragraph of text beneath the heading to explain the heading. We'll add onto
						it with another sentence and probably just keep going until we run out of words.</p>
					<a href="#" class="btn btn-primary btn-lg">Primary button</a>
				</div>

				<div class="col">
					<div class="row row-cols-1 row-cols-sm-2 g-4">
						<div class="col d-flex flex-column gap-2">
							<h4 class="fw-semibold mb-0">Programming</h4>
							<p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
						</div>

						<div class="col d-flex flex-column gap-2">
							<h4 class="fw-semibold mb-0">Science and Engineering</h4>
							<p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
						</div>

						<div class="col d-flex flex-column gap-2">
							<h4 class="fw-semibold mb-0">History</h4>
							<p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
						</div>

						<div class="col d-flex flex-column gap-2">
							<h4 class="fw-semibold mb-0">Science Fiction</h4>
							<p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
