@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="section">
    <div class="container">
        <h1 class="title">@ViewData["Title"]</h1>
        <h2 class="subtitle">Enter your email.</h2>
        <hr />
        <div class="columns">
            <div class="column is-one-third">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="has-text-danger" role="alert"></div>

                    <div class="field">
                        <label class="label" asp-for="Input.Email"></label>
                        <div class="control">
                            <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        </div>
                        <p class="help is-danger"><span asp-validation-for="Input.Email"></span></p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary is-fullwidth">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
