@using Comjustinspicer.CMS.Models.Page
@using Microsoft.CodeAnalysis
@model PageNavigationViewModel

@if (Model.Items.Any())
{
    <ul class="nav__links" role="list">

        @foreach (var item in Model.Items)
        {
            await RenderNavItem(item);
        }
    </ul>
}

@functions {
    async Task RenderNavItem(PageNavigationItem item)
    {
        <li>
            <a href="@item.Route" class="nav__link">
                @* @(HttpContext.Request.Path.StartsWith(item.Route) ? "is-active" : "") *@
                @item.Title
            </a>
        </li>
    }
}