@using Comjustinspicer.CMS.Models.Page
@model PageNavigationViewModel

@if (Model.Items.Any())
{
    @foreach (var item in Model.Items)
    {
        await RenderNavItem(item);
    }
}

@functions {
    async Task RenderNavItem(PageNavigationItem item)
    {
        <a class="navbar-item" href="@item.Route">@item.Title</a>
        @if (item.Children.Any())
        {
            <ul>
                @foreach (var child in item.Children)
                {
                    <li>
                        <a class="navbar-item" href="@child.Route">@child.Title</a>
                    </li>
                }
            </ul>
        }
    }
}