@model Comjustinspicer.Models.ContentZone.ContentZoneViewModel
@using Comjustinspicer.Models.ContentZone
@{

}

@foreach(var obj in Model.ZoneObjects)
{
	<div class="zone-object mb-5">
		@await Component.InvokeAsync(obj.ComponentName, obj.ComponentProperties)
	</div>
}