@model Comjustinspicer.CMS.Models.Article.ArticleListUpsertViewModel

@{
    var isEdit = Model?.Id != null && Model.Id != Guid.Empty;
    ViewData["Title"] = isEdit ? "Edit Article List" : "New Article List";
}

<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-controller="AdminContent" asp-action="Index" asp-route-contentType="articles">Article Lists</a></li>
                <li class="is-active"><a>@ViewData["Title"]</a></li>
            </ul>
        </nav>

        <h1 class="title">@ViewData["Title"]</h1>

        <form asp-action="Edit" asp-controller="AdminContent" asp-route-contentType="articles" method="post">
            @Html.ValidationSummary(false, "", new { @class = "notification is-danger" })
            <form-fields for="@Model" />

            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Save</button>
                </div>
                <div class="control">
                    <a asp-action="Index" asp-controller="AdminContent" asp-route-contentType="articles" class="button is-light">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
