@model Comjustinspicer.CMS.Models.Article.ArticleUpsertViewModel

@{
    var isEdit = Model?.Id != null && Model.Id != Guid.Empty;
    ViewData["Title"] = isEdit ? "Edit Article" : "New Article";
}

<section class="section">
    <div class="container">
        <h1 class="title">@ViewData["Title"]</h1>
        @if (isEdit)
        {
            <h2 class="subtitle">@Model?.Id</h2>
        }

<form asp-action="PostEdit" asp-controller="AdminArticle" method="post">
    <form-fields for="@Model" />

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-primary">Save</button>
        </div>
        <div class="control">
            <a asp-action="Index" asp-controller="AdminArticle" class="button is-light">Cancel</a>
        </div>
    </div>
</form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
